In [1]:
import sys
sys.executable

'c:\\Users\\tathi\\Desktop\\Sales data analysis\\.venv\\Scripts\\python.exe'

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/raw/retail_sales_dataset.csv")

df.head()

ModuleNotFoundError: No module named 'pandas'

In [3]:
import sys
sys.executable

'c:\\Users\\tathi\\Desktop\\Sales data analysis\\.venv\\Scripts\\python.exe'

In [1]:
import pandas as pd
print(pd.__version__)

2.3.3

In [2]:
df = pd.read_csv("../data/raw/retail_sales_dataset.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [3]:
# Standardize column names
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
)

df.head()

,transaction_id,date,customer_id,gender,age,product_category,quantity,price_per_unit,total_amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [4]:
df["date"] = pd.to_datetime(df["date"])

df.dtypes

transaction_id               int64
date                datetime64[ns]
customer_id                 object
gender                      object
age                          int64
product_category            object
quantity                     int64
price_per_unit               int64
total_amount                 int64
dtype: object

In [6]:
df["calculated_total"] = df["quantity"] * df["price_per_unit"]

(df["calculated_total"] != df["total_amount"]).sum()

np.int64(0)

In [7]:
df_clean = df.drop(columns=["calculated_total"])

df_clean.to_csv(
    "../data/processed/cleaned_retail_sales.csv",
    index=False
)

## Data Cleaning Summary

Column renaming

Date conversion

Total amount validation

Processed file saved